body {
    margin: 0;
    background-color:black;
    height: auto;
}

#content {
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    font-size: 5em;
    color: white;
}

#parallax {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.parallax-image {
    position: absolute;
    filter: blur(10px) brightness(70%);
}

.alternateLorum {
    background-color: white;
    color:black;
}

.quotes {
    display: inline-block;
    font-size: 3em;
    width: 110px;
}
.quotes:before {
    content: "A";
    opacity: 0;
}

.quotesStart:after {
    content: "\201C";
    position: absolute;
    margin-top: -1em;
    margin-left: -1em;
}
.animationStart.quotesStart:after,
.animationEnd.quotesStart:after {
    animation-duration: 500ms;
    animation-name: slideinStart;
    margin-left: 0;
}
.animationEnd.quotesStart:after {
    animation-direction: reverse;
    margin-left: -1em;
}

.quotesEnd:after {
    content: "\201D";
    position: absolute;
    margin-top: -1em;
    margin-left: -5em;
}
.animationStart.quotesEnd:after,
.animationEnd.quotesEnd:after {
    animation-duration: 1000ms;
    animation-name: slideinEnd;
    margin-left: 0;
}
.animationEnd.quotesEnd:after {
    animation-direction: reverse;
    margin-left: -4em;
}

@keyframes slideinStart {
    from {
        margin-left: -1em;
    }

    to {
        margin-left: 0;
    }
}

@keyframes slideinEnd {
    from {
        margin-left: -4em;
    }

    to {
        margin-left: 0;
    }
}

.letterbox-parent {
    width: 100%;
    overflow: hidden;
}

.letterbox-image {
    width: 100%;
}