body {
    margin: 0;
    background-color:black;
    height: auto;
    overflow-x: hidden;
}

#content {
    position: absolute;
    z-index: 1;
    max-width: 100%;
    min-height: 100%;
    font-size: 1.8em;
    color: white;
    padding: 20px 40px;
}

#parallax {
    position: fixed;
    z-index: 0;
    width: 100%;
    height: 100%;
}

.parallax-image {
    position: absolute;
}

.alternateLorum {
    background-color: white;
    color:black;
}

.quotes {
    display: inline-block;
    font-size: 2.5em;
    width: 0.4em;
}
.quotes:before {
    content: "\201C";
    opacity: 0;
}

.quotesStart:after {
    content: "\201C";
    position: absolute;
    margin-top: -1.2em;
    margin-left: -3em;
}
.animationStart.quotesStart:after,
.animationEnd.quotesStart:after {
    animation-duration: 500ms;
    animation-name: slideinStart;
    margin-left: -0.2em;
}
.animationEnd.quotesStart:after {
    animation-direction: reverse;
    margin-left: -3em;
}

.quotesEnd:after {
    content: "\201D";
    position: absolute;
    margin-top: -1.2em;
    margin-left: -6em;
}
.animationStart.quotesEnd:after,
.animationEnd.quotesEnd:after {
    animation-duration: 1000ms;
    animation-name: slideinEnd;
    margin-left: 0.1em;
}
.animationEnd.quotesEnd:after {
    animation-direction: reverse;
    margin-left: -6em;
}

@keyframes slideinStart {
    from {
        margin-left: -3em;
    }

    to {
        margin-left: -0.2em;
    }
}

@keyframes slideinEnd {
    from {
        margin-left: -6em;
    }

    to {
        margin-left: 0.1em;
    }
}

.letterbox-parent {
    width: 100%;
    overflow: hidden;
}

.letterbox-image {
    width: 100%;
}

.fade-parent {
    position: relative;
    width: 100%;
}
.fade {
    position: absolute;
    width: 100%;
}
.fade-new {
    opacity: 0;
}